.shopping{
    font-size: 1.5rem;
    color: var(--text-color);
    cursor: pointer;
    transition: all 0.25s ease;
    --webkit-transition:all 0.25s ease;
    --moz-transition: all 0.25s ease;
    --ms-transition: all 0.25s ease;
    --o-transition: all 0.25s ease;
    top: -15px;
    justify-content: center;
    position: absolute;
    left: 72%;
}
.shopping, .btn{
  z-index: 1000;
  position: absolure;
}
.shopping i:hover{
    color: var(--second-color);
}

.shopping span{
    font-size: 0.75rem;
    background: red;
    border-radius: 50%;
    vertical-align: top;
    display: flex;
    /*justify-content: center;*/
   /* align-items: center;*/
    color: #fff;
    position: relative;
    top: -13px;
    margin-left: -10px;
    padding: 0.25rem 0.5rem;
}

.cart {
    position: absolute;
    top: 25px;
    right: 0;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: none;
    padding: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
}
.close-btn {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    font-size: 1.5rem;
}

.cart .item{
    transition: 0.5s;
    border-bottom: 1px solid var(--light);
}
.cart .name{
    padding:20px;
    height:40px;
    font-weight: bold;
    font-size: xx-large;
    border-bottom:17px solid var(--light)
}
.danger{
    box-shadow: 0 10px 10px var(--second-color);
    transform: translate(0,-10px);
}
.cart .add{
    display: none;
}
.cart .remove{
    display: inline-block!important;
}

.date-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 5px;
}

.date-wrapper input {
    width: 170px; /* slightly less than half to account for any margins/paddings */
}

.cart-footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 0.5rem;
    margin-top: 1rem;
}

.cart-total-price {
    font-weight: bold;
}

.checkout-btn {
    background-color: var(--second-color);
    color: var(--light);
    width: 100%;   
    border-radius: 0; 
    position: absolute; 
    bottom: 0;
    margin-top: 10px;
    left: 0;
}

.checkout-btn:hover{
    background-color: var(--text-color);
}

